<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Course</h1>
        <form th:object="${course}">
            <div class="form-row">
            <div class="form-group col-md-3">
                <label for="NOC_danish">NOC_Danish</label>
                <input type="text" class="form-control" id="NOC_danish" placeholder="Name of course in Danish"
                       th:field="${course.NOC_danish}"
                       required="true"/>
            </div>

            <div class="form-group col-md-3">
                <label for="NOC_english">NOC_English</label>
                <input type="text" class="form-control" id="NOC_english" placeholder="Name of course in English"
                       th:field="${course.NOC_english}"
                       required="true"/>
            </div>
                <div class="form-group col-md-2">
                    <label for="examForm">Exam Form</label>
                    <input type="text" class="form-control" id="examForm"
                           placeholder="Exam form"
                           th:field="${course.examForm}" required="true"/>
                </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-3">
                <label for="mandatory_elective">Mandatory/Elective</label>
                <input type="text" class="form-control" id="mandatory_elective" placeholder="Mandatory/elective"
                       th:field="${course.mandatory_elective}" required="true"/>
            </div>

            <div class="form-group col-md-2">
                <label for="ects">ECTS</label>
                <input type="number" class="form-control" id="ects" placeholder="ECTS"
                       th:field="${course.ects}" min="0" max="50" required="true"/>
            </div>

            <div class="form-group col-md-3">
                <label for="courseLanguage">Course language</label>
                <input type="text" class="form-control" id="courseLanguage"
                       placeholder="Course Language"
                       th:field="${course.courseLanguage}" required="true"/>
            </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-2">
                <label for="minOfStudents">Min. # of students</label>
                <input type="number" class="form-control" id="minOfStudents" min="0" max="300"
                       placeholder="Minimum amount of Students"
                       th:field="${course.minOfStudents}" required="true"/>
            </div>

            <div class="form-group col-md-2">
                <label for="expOfStudents">Exp. # of students</label>
                <input type="number" class="form-control" id="expOfStudents" min="0" max="300"
                       placeholder="Expected amount of Students"
                       th:field="${course.expOfStudents}" required="true"/>
            </div>

            <div class="form-group col-md-2">
                <label for="maxOfStudents">Max. # of students</label>
                <input type="number" class="form-control" id="maxOfStudents" min="0"
                       max="300"
                       placeholder="Maximum amount of Students"
                       th:field="${course.maxOfStudents}" required="true"/>
            </div>
                <div class="form-group col-md-2">
                    <label for="semester">Semester</label>
                    <input type="number" class="form-control" id="semester" min="0"
                           max="300"
                           placeholder="Semester"
                           th:field="${course.semester}" required="true"/>
                </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="prerequisites">Prerequisites</label>
                <input type="text" class="form-control" id="prerequisites"
                       placeholder="Prerequisites"
                       th:field="${course.prerequisites}" required="true"/>
            </div>

            <div class="form-group col-md-4">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content"
                       placeholder="Content"
                       th:field="${course.content}" required="true"/>
            </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="learningsOutcome">Learnings outcome</label>
                <input type="text" class="form-control" id="learningsOutcome"
                       placeholder="Learnings outcome"
                       th:field="${course.learningsOutcome}" required="true"/>
            </div>

            <div class="form-group col-md-4">
                <label for="learningActivities">Learning activities</label>
                <input type="text" class="form-control" id="learningActivities"
                       placeholder="Learning activities"
                       th:field="${course.learningActivities}" required="true"/>
            </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="classCode">Class code</label>
                <input type="text" class="form-control" id="classCode"
                       placeholder="Class code"
                       th:field="${course.classCode}" required="true"/>
            </div>

                <div class="form-group">
                    <label for="studyProgramme">Study programmes</label>
                    <select th:field="${course.studyProgramme}" class="form-control" id="studyProgramme">
                        <option value="0">Choose</option>
                        <option th:each="studyProgrammes : ${studyProgrammes}" th:value="${studyProgrammes.id}"
                                th:text="${studyProgrammes.name}">Choose
                        </option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-outline-success" id="update-btn">Update
            </button>
            <button type="reset" class="btn btn-outline-warning">Reset</button>
            <a href="/courses">
                <button type="button" class="btn btn-outline-danger">Tilbage</button>
            </a>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    $(document).on('click', '#update-btn', function () {
        console.log("btn pressed");
        console.log('#studyProgramme' + $('#ects').val());
        var courseID = [[${course.id}]];

        $.ajax({
            url: "http://localhost:8080/courses/edit/" + courseID,
            method: "put",
            data: {
                NOC_danish: $('#NOC_danish').val(),
                NOC_english: $('#NOC_english').val(),
                ects: $('#ects').val(),
                mandatory_elective: $('#mandatory_elective').val(),
                courseLanguage: $('#courseLanguage').val(),
                minOfStudents: $('#minOfStudents').val(),
                expOfStudents: $('#expOfStudents').val(),
                maxOfStudents: $('#maxOfStudents').val(),
                prerequisites: $('#prerequisites').val(),
                learningsOutcome: $('#learningsOutcome').val(),
                content: $('#content').val(),
                learningActivities: $('#learningActivities').val(),
                examForm: $('#examForm').val(),
                semester: $('#semester').val(),
                classCode: $('#classCode').val(),
                studyProgramme: $('#studyProgramme').val(),
            },
            success: function (resp) {
                alert("This course has been updated\n" + JSON.stringify(resp));
                location.href = "/courses";
            },
            error: function (err) {
                alert("ERROR\n" + JSON.stringify(err));
                location.reload();
            }
        });
    });
</script>

</body>
</html>