<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>


</head>
<body>

<div.float-left class="table table-hover">
    <div.float-left class="container">
        <h1 class="display-4">Courses <a href="/courses/create" class="btn btn-outline-primary">Add new course</a>
        </h1>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOC_Danish</th>
                <th scope="col">NOC_English</th>
                <th scope="col">Mandatory/Elective</th>
                <th scope="col">ECTS</th>
                <th scope="col">Course language</th>
                <th scope="col">Minimum amount of students</th>
                <th scope="col">Expected amount of students</th>
                <th scope="col">Maximum amount of students</th>
                <th scope="col">Prerequisites</th>
                <th scope="col">Content</th>
                <th scope="col">Learning activities</th>
                <th scope="col">Exam form</th>
                <th scope="col">Semester</th>
                <th scope="col">Class code</th>
                <th scope="col">Student ID</th>
                <th scope="col">Studyprogramme</th>
            </tr>
            </thead>
                <tbody.table-hover>
                    <tr th:each="course:${coursesToBeSendToView}">
                        <td class="align-middle" th:text="${course.id}">{{ID}}</td>
                        <td class="align-middle" th:text="${course.NOC_danish}">{{NOC_Danish}}</td>
                        <td class="align-middle" th:text="${course.NOC_english}">{{NOC_English}}</td>
                        <td class="align-middle" th:text="${course.mandatory_elective}">{{Mandatory/Elective}}</td>
                        <td class="align-middle" th:text="${course.ects}">{{ECTS}}</td>
                        <td class="align-middle" th:text="${course.courseLanguage}">{{Course Language}}</td>
                        <td class="align-middle" th:text="${course.minOfStudents}">{{Minimum amount of students}}</td>
                        <td class="align-middle" th:text="${course.expOfStudents}">{{Expected amount of students}}</td>
                        <td class="align-middle" th:text="${course.maxOfStudents}">{{Maximum amount of students}}</td>
                        <td class="align-middle" th:text="${course.prerequisites}">{{Prerequisites}}</td>
                        <td class="align-middle" th:text="${course.content}">{{Content}}</td>
                        <td class="align-middle" th:text="${course.learningActivities}">{{Learning activities}}</td>
                        <td class="align-middle" th:text="${course.examForm}">{{Exam form}}</td>
                        <td class="align-middle" th:text="${course.semester}">{{Semester}}</td>
                        <td class="align-middle" th:text="${course.classCode}">{{Class code}}</td>
                        <td class="align-middle" th:text="${course.studentId}">{{Student ID}}</td>
                        <td class="align-middle" th:text="${course.studyProgramme.getName()}">{{Studyprogramme}}</td>
                        <td>
                            <a th:href="'/courses/edit/'+${course.id}" class="btn btn-outline-warning btn-sm btn-block"> Edit </a>
                            <button type="button" class="course-delete btn btn-outline-danger btn-sm btn-block"
                                    th:attr="data-id=${course.id}">Delete
                            </button>
                            <a th:href="'/courses/students/'+${course.id}" class="btn btn-outline-danger btn-sm btn-block">Students</a>
                        </td>
                    </tr>
                </tbody.table-hover>
        </table>
    </div.float-left>
</div.float-left>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script> $(document).on("click", ".course-delete", function () {
    console.log("Button press");
    var courseId = $(this).data("id");
    console.log(courseId);

    $.ajax({
        url: 'http://localhost:8080/courses/delete/' + courseId,
        method: 'delete',
        success: function (resp) {
            alert("This course has been deleted\n" + JSON.stringify(resp));
            location.reload();
        },
        error: function (err) {
            alert("ERROR\n" + JSON.stringify(err));
            location.reload();
        }
    });
})

</script>
</body>
</html>