<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Create course</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet"/>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Create Student</h1>
        <form action="/teacher/create" method="post" th:object="${teacher}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>First name</label>
                    <input class="form-control" required="true"
                           th:field="${teacher.firstName}"
                           type="text"/>
                </div>

                <div class="form-group col-md-3">
                    <label>Last name</label>
                    <input class="form-control" required="true"
                           th:field="${teacher.lastName}"
                           type="text"/>
                </div>
                <div class="form-group col-md-2">
                    <label>Email</label>
                    <input class="form-control" required="true"
                           th:field="${teacher.email}" type="email"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Phone number</label>
                    <input class="form-control" required="true"
                           th:field="${teacher.phoneNumber}" type="number"/>
                </div>

                <div class="form-group col-md-2">
                    <label>CPR</label>
                    <input class="form-control" required="true"
                           th:field="${teacher.cpr}" type="number"/>
                </div>
            </div>
            <button class="btn btn-outline-success" id="update-btn" type="submit">Create</button>
            <button class="btn btn-outline-warning" type="reset">Reset</button>
            <a th:href="'/courses'">
                <button class="btn btn-outline-danger" type="button">Back</button>
            </a>
        </form>
    </div>
</div>
</body>
</html>