<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biler</title>
</head>
<body>
<div th:replace="/navbar"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Navn</th>
        <th scope="col">Hastighed(km/t)</th>
        <th scope="col">Farve</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars: ${cars}">
        <td th:text="${cars.name}"></td>
        <td th:text="${cars.speed}"></td>
        <td th:text="${cars.color}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>