<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CAR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="nav_top">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/thisIsTheURLCar">Cars <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Welcome <span id="name_span"></span>
    </span>
    </div>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
        <th scope="col">Doors</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="car:${carsToBeSendToView}">
        <td th:text="${car.brand}">{{brand}}</td>
        <td th:text="${car.color}">{{color}}</td>
        <td th:text="${car.doors}">{{doors}}</td>
    </tr>

    </tbody>
</table>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    var userStringFromLS = localStorage.getItem('user');
    var user = JSON.parse(userStringFromLS);
    console.log(user.name);

    $('#name_span').text(user.name);

    if(user.gender == 'M'){
        $('#nav_top').addClass('bg-primary');
    } else {
        $('#nav_top').addClass('bg-danger');
    }

</script>

</body>
</html>