<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>CAR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="nav_top">
    <a class="navbar-brand" href="/"><i class="fas fa-car"></i> CarShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/car/show">Cars <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Welcome <span id="name_span"></span>
    </span>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Car</h1>
        <form th:object="${car}">
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" placeholder="Enter brand" th:field="${car.brand}"
                       required="true"/>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="color">Color</label>
                    <input type="color" class="form-control" id="color" placeholder="Enter color" th:field="${car.color}"
                           required="true"/>
                </div>
                <div class="form-group col-md-5">
                    <label for="doors">Doors</label>
                    <input type="number" class="form-control" id="doors" min="2" max="5" placeholder="Doors"
                           th:field="${car.doors}" required="true"/>
                </div>
                <div class="form-group col-md-5">
                    <label for="speed">Speed</label>
                    <input type="number" class="form-control" id="speed" min="0" max="300" placeholder="Speed"
                           th:field="${car.speed}" required="true"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputUser">User</label>
                <select id="inputUser" class="form-control" th:field="${car.user}" required="true">
                    <option value="" selected="true">Choose...</option>
                    <option th:each="user:${users}" th:value="${user.id}" th:text="${user.name}"></option>
                </select>
            </div>

            <button type="button" class="btn btn-outline-success" id="update-btn">Update</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    $(document).on('click', '#update-btn', function () {
        console.log("btn pressed");
        console.log($('#brand').val());
        var carid = [[${car.id}]];
        $.ajax({
            url: "http://localhost:8080/car/update/"+carid,
            type: "put",
            data: {
                brand: $('#brand').val(),
                color: $('#color').val(),
                doors: $('#doors').val(),
                speed: $('#speed').val(),
                user: $('#inputUser option:selected').val()
            },
            success: function (resp) {
                alert("This car has been updated\n" + JSON.stringify(resp));
                location.href="/car/show";
            },
            error: function (err) {
                alert("ERROR\n" + JSON.stringify(err));
                location.reload();
            }
        });
    });
</script>

<script>
    var userStringFromLS = localStorage.getItem('user');
    var user = JSON.parse(userStringFromLS);
    console.log(user.name);

    $('#name_span').text(user.name);

    if (user.gender == 'M') {
        $('#nav_top').addClass('bg-primary');
    } else {
        $('#nav_top').addClass('bg-danger');
    }
</script>
</body>
</html>